button{
    color: aqua;
    height: 50px;
    width: 500px;
    background-color: aqua;
    padding: auto;
    text-align: center;
    text-decoration-color: brown;
    
}

text{
    color: tomato;
}